<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>NoteBook</title>
    <link rel="stylesheet" href="style.css">
    <link href="http://at.alicdn.com/t/font_797432_5pwlpvfkx2t.css" rel="stylesheet">
</head>
<body>
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://unpkg.com/marked"></script>
<script src="https://unpkg.com/moment"></script>

<div id="notebook" class="clearfix">
        <!-- 侧边栏 note list -->
        <aside class="side-bar fl">
            <div class="toolbar">
                <button @click='addNote' :title="notes.length + ' note(s) already'"> + Add note</button>
                <span class="global-button show-collection" @click='showCollection' title="show collection">
                    <i :class="{iconfont: true, 'icon-collection': !isCollection , 'icon-collection-fill': isCollection}"></i>
                </span>
            </div>
            <div class="note-list"> 
                <div
                v-for="note in notes"
                v-show="note.showNote"
                @click="selectNote(note)" 
                :class="{note: true ,selected: note === selectedNote}">
                    <span>{{note.title}}</span>
                    <span class="fr">
                        <i :class="{iconfont: note.favorite, 'icon-collection-fill': note.favorite}"></i>
                    </span>
                </div>
            </div>
        </aside>
        <!-- 主面板 -->
        <section class="main fl">
            <template v-if="selectedNote">
                <div class="inputView">
                    <div class="input-view-toolbar">
                        <input v-model="selectedNote.title">
                        <button 
                        class="global-button" 
                        title="Collection note"
                        @click="favoriteNote"
                        >
                            <i :class="{
                                iconfont: true,
                                'icon-collection': !selectedNote.favorite,
                                'icon-collection-fill': selectedNote.favorite
                            }"></i>    
                        </button>
                        <button
                        class="global-button"  
                        title="Delete note"
                        @click="deleteNote"
                        >
                            <i class="iconfont icon-delete-fill"></i>    
                        </button>
                    </div>
                    <textarea v-model="selectedNote.content"></textarea>
                </div>
                <div class="preView">
                    <strong v-html="selectedNote.title"></strong>
                    <aside v-html="notePreview"></aside>
                    <div class="bottom-status-bar">
                        <span>
                            Created: {{selectedNote.created}}
                        </span>
                            &nbsp;
                            &nbsp;
                            &nbsp;
                            &nbsp;
                        <span>
                            WordsCount: {{WordsCount}}
                        </span>
                    </div>
                </div>
            </template>
        </section>
    </div>
<script src="script.js"></script>
</body>
</html>