
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system,SF UI Text,Arial,PingFang SC,Hiragino Sans GB,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif;

}
[v-cloak] {
    display: none;
}
body::-webkit-scrollbar {
    display: none;
}
div::-webkit-scrollbar {
    display: none;
}
textarea::-webkit-scrollbar {
    display: none;
}
aside::-webkit-scrollbar {
    display: none;
}
.clearfix::before,
.clearfix::after{
    content: '';
    display: block;
    clear: both;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
input,button,select,textarea{
    outline:none
}
textarea{
    width: 100%;
    height: 100%;
    padding-top:60px;    
    resize:none;
    border: 0;
    font-size: 20px;
}
.global-button{
    width: 35px;
    height: 34px;
    text-align: center;
    background: #8890a0;
    font-size: 18px;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
}
.global-button i{
    font-size: 18px;
}
.main{
    width: 80%;
    margin-left: -2px;
    display: -webkit-flex;
    display: flex;
}
.inputView,.preView{
    flex-grow: 1;
    width: 50%;
    min-width: 200px;
    height: 100vh;
    padding: 20px;
    font-size: 20px;
}
.inputView{
    position: relative;
    overflow:hidden;
    border-right: 1px solid #d9d9d9;
}
.preView{
    position: relative;
    background-color: #fcfaf2;
}

.side-bar{
    min-width: 130px;
    height: 100vh;
    width: 20%;
    background: #f3f3f3;
    border-right: 1px solid #d9d9d9;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
.toolbar{
    padding-top: 30px;
    margin-bottom: 3px;
    text-align: center;
    background: #f3f3f3;
    position:fixed;
    top: 0;    
    left: 20px;
    background: #f3f3f3;
    width: 20%;
    margin-left: -20px;
}
.toolbar button{
    width: 130px;
    height: 40px;
    background: #8890a0;
    color: #fff;
    cursor: pointer;
    border-radius:3px;
    font-size: 21px;
}
.note-list{
    padding-top: 70px;
    text-align: left;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    padding-bottom: -100px;
}
.note-list .note{
    padding: 11px 24px;
    font-size: 20px;
    cursor: pointer;
}
.note-list .note:hover{
    background: #e2e2e2;
}
.note-list .selected{
    background: #c7c7c7;
}
.note-list .selected:hover{
    background: #c7c7c7;
}
.input-view-toolbar input{
    width:250px;
    height: 40px;
    border:solid 1px #ccc;
    border-radius:3px;
    padding: 3px;
    text-indent: 5px;
    font-size: 20px;
    background: #f3f3f3;
}
.show-collection{
    width: 40px;
    height: 38px;
    display: inline-block;
    line-height: 39px;
    margin-left: 10px;
}
.bottom-status-bar{
    position: absolute;;
    bottom:20px;
    background: #fdfbf5;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 5px;
}
.notePreView{
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100%;
    padding-top: 50px;
    padding-bottom: 33px;
}
.preViewTitle{
    position: absolute;
    top: 20px;
    display: block;
    padding: 15px 0;
    background: #fdfbf5;
    width: 100%;
}
.input-view-toolbar{
    position: absolute;
    top: 20px;
    width: 100%;
    padding-bottom: 10px;
    background: #fff;
}